.error{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
}

.header{
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 180px;
  margin-top: 20px;
}
  
.header__title{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  color: #4793FF;
}

.header__logo{
  margin-right: 20px;
  width: 65px;
  height: 65px;
}

.header__drop{
  margin-left: 642px;
  cursor: pointer;
  height: 28px;
  width: 24px;
}

.header__select{
  display: flex;
  align-items: center;
  width: 194px;
  height: 37px;
  background: var(--secondary_color);
  border-radius: 10px;
  margin-left: 25.67px;
  cursor: pointer;
  user-select: none;
}

.header__select-text{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-left: 20px;
}

.header__select-triangle{
  margin-left: 12px;
}

.header__select-triangle_rotate{
  transform: rotate(180deg);
  animation-name: rotate;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
  
@keyframes rotate {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(180deg);
  }
}

.dropdown{
  position: absolute;
  top: 60px;
  right: 200px;
  background-color: var(--secondary_color);
  border-radius: 10px;
  padding: 10px 20px;
  width: 154px;
  list-style: none;
  text-align: center;
  border: var(--dropdown_border);
  z-index: 3;
}

.dropdown__item{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-left: 20px;
  margin-right: 10px;
}

.dropdown__item:hover{
  text-decoration: underline;
}

.dropdown__item-search{
  width: 114px;
  margin-right: 100%;
  background-color: var(--secondary_color);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  border: none;
  border-bottom: 1px solid black;
}

.dropdown__item-search:focus{
  outline: none;
}

.header__select-background{
  cursor: default;
  right: 0;
  top: 0;
  position: absolute;
  z-index: 2;
  background-color:rgba(250, 235, 215, 0);
  overflow: visible;
  height: 100vh;
  width: 100vw;
}

.current{
  display: flex;
  margin-left: 180px;
  margin-top: 50px;
}

.weather{
  width: 400px;
  height: 300px;
  background: #FFFFFF;
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background: var( --primary_color);
}
  
.weather__temperature{
  display: flex;
  align-items: center;
  height: 210px;
}

.weather__temperature-data{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.weather__temperature-data-celsius{
  width: 160px;
  height: 117px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 117px;
  color: #4793FF;
}

.weather__temperature-data-today{
  margin-top: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  width: 174px;
  height: 49px;
  color: var(--font_color)
}

.weather__temperature-img{
  width: 119px;
  height: 119px;
  margin-left: 61px;
}

.weather__time{
  display: flex;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #939CB0;
  margin-left: 18px;
}

.weather__city{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #939CB0;
  margin-left: 18px;
}

.details{
  margin-left: 50px;
  width: 750px;
  height: 300px;
  background: #FFFFFF;
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  border-radius: 20px;
  background: var(--primary_color);
  background: no-repeat url("../public/background.png");
  background-size: 460px 202px;
  background-position: top right;
}

.details__items{
  margin-top: 42px;
  margin-left: 32px;
}

.details__items-item{
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.details__items-item-image{
  width: 38px;
  height: 38px;
  background: #FFFFFF;
  box-shadow: 1px 4px 10px -1px rgba(71, 147, 255, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details__items-item-title{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #939CB0;
  margin-left: 20px;
}

.details__items-item-description{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-left: 20px;
  color: var(--font_color);
}

.skeleton {
  background-color: rgb(199, 199, 199);
  border-radius: 0.25rem;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

.skeleton__temperature{
  width: 160px;
  height: 117px;
  margin-top: 20px;
}

.skeleton__today{
  width: 174px;
  height: 49px;
}

.skeleton__img{
  width: 119px;
  height: 119px;
  margin-left: 67px;
}

.skeleton__time{
  width: 164px;
  height: 30px;
}

.skeleton__city{
  width: 319px;
  height: 30px;
}

.skeleton__item{
  width: 457px;
  height: 38px;
}

@media (max-width:576px){
  .header{
    margin-left: 30px;
    margin-top: 5px;
  }

  .header__title{
    font-size: 1rem;
  }

  .header__drop{
    margin-left: 30% ;
    width: 20px;
  }

  .header__logo{
    width: 37px;
    height: 37px;
    margin-right: 5px;
  }

  .header__select{
    margin-left: 5px;
    width: 15.1%;
    height: 30px;
  }

  .header__select-triangle{
    display: none;
  }

  .header__select-text{
    text-indent: -9999px;
    background: no-repeat url("../public/search.png");
    background-size: 20px 20px;
    background-position: center;
    width: 20px;
  }

  .current{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 20px;
  }

  .weather{
    width: 90%;
    height: 15.63%;
  }

  .weather__temperature-data-celsius{
    font-size: 6em;
  }

  .details{
    width: 90%;
    height: 15.63%;
    margin-top: 10px;
    margin-left: 0px;
  }

  .details__items-item-image{
    width: 36px;
    height: 36px;
  }

  .dropdown{
    right: 10px;
  }
}